@import "~bulma/sass/utilities/initial-variables"

// Config vars
$walt-black: #080808
$walt-gray-light: #E4E4E4
$walt-gray-dark: #ACACAC
$walt-yellow: #FFE103

$font-primary: 'Delius', cursive  
$font-secondary: 'Delius Swash Caps', cursive  

$screen-xs: 320px
$screen-sm: 475px
$screen-md: 769px
$screen-lg: 1024px
$screen-xl: 1440px


// Bulma vars
$navbar-background-color: rgba(255,255,255,0)
$navbar-breakpoint: $screen-md

@import "~bulma"

body 
  font-family: $font-primary

// ================
// =====Navbar=====
// ================
.navbar
  font-family: $font-secondary
  position: absolute
  top: 0
  left: 0
  width: 100%

@media screen and (max-width: $screen-md)
  .navbar
    padding: 0

    a.navbar-item
      color: black

    .walter-logo
      font-size: 1.75rem

    .navbar-brand
      align-items: center

    .navbar-item
      color: black

    .navbar-burger
      border-radius: 100%
      
      span
        height: 2px
    
    .navbar-menu 
      background-color: rgba(255, 255, 255, 0.85)
      text-align: center
      border-radius: 0 0 20px 20px
      margin: 0 auto
      width: 90%

    .navbar-divider 
      display: inline-block
      margin: 0.5rem auto
      width: 40%
      min-width: 150px
  
  .content
    padding-top: 58px
    min-height: 100vh

@media screen and (min-width: $screen-md)
  .navbar
    padding: 10px 10px 0

    > .container .navbar-brand
      margin-left: 20px
    > .container .navbar-menu
      margin-right: 20px
  
    a.navbar-item
      color: $walt-black

      &:hover
        background-color: unset
        color: black

    .walter-logo
      line-height: 4rem
      font-size: 3rem
      width: 5%
      white-space: pre-line
      padding: 0

    .navbar-menu 
      display: flex
      flex-direction: column
      align-items: flex-end
      justify-content: center
      font-size: 1.75rem
  
  .content
    padding-top: 138px
    min-height: 100vh

@media screen and (min-width: $screen-lg)
  .navbar   
    .walter-logo
      line-height: 5rem
      font-size: 4rem

    .navbar-menu 
      font-size: 2rem
  
  .content
    padding-top: 170px


// ================
// =Main Container=
// ================
.main-container
  min-height: 100vh
  width: 100%
  background-color: rgba($walt-yellow, 0.6)
  position: relative
  z-index: 0

  .background-svg 
    background-image: url('../img/BG-2.svg')
    background-size: cover
    background-position: bottom center
    background-repeat: repeat-x
    height: 97%
    width: 100%
    position: absolute
    bottom: 0
    z-index: -1
   
@media screen and (min-width: 1200px)
  .main-container
    .background-svg
      background-size: contain

// ================
// ===Index Page===
// ================
.index-container
  max-width: 1344px
  position: relative
  margin: 0 auto
  .imgs
    margin: 0 auto
    min-width: 300px
    display: flex
    align-items: center    
    div
      box-sizing: border-box
      border: 5px solid $walt-gray-dark
      border-radius: 30px
      display: inline-block
      margin: 0 10px
  .headings
    padding: 0 10px
    h1
      font-size: 5em
      margin-bottom: 20px
      text-shadow: -1px -1px 2px #8e8e8e, 1px 1px 2px #e9de92
    p
      font-size: 2.2em
      text-shadow: 0px 0px 9px #ffffff

@media screen and (max-width: 375px)
  .index-container 
    .imgs
      margin: 5px 0 
      div 
        margin: 15px 0
        width: 200px
        height: 250px
      div:first-child
        display: none
      div:last-child
        display: none
    .headings
      font-size: 0.5rem

      
@media screen and (max-width: $screen-md)
  .index-container 
    min-height: calc(100vh - 58px)
    display: flex
    flex-direction: column
    justify-content: center

    .imgs
      height: 300px
      justify-content: center
      margin: 40px 0
      flex-wrap: wrap-reverse
      div
        margin: 15px
        width: 150px
        height: 175px
    .headings
      text-align: center
      font-size: 0.75rem
      margin: 0 auto

@media screen and (min-width: $screen-md)
  .index-container 
    min-height: calc(100vh - 138px)
    .imgs
      height: 350px
      justify-content: flex-end
      align-items: center
      div 
        margin: 20px
        width: 160px
        height: 220px
      div:first-child 
        align-self: flex-start
      div:last-child 
        align-self: flex-end      
    .headings
      position: absolute
      bottom: 0
      margin: 0 0 40px 40px
      font-size: 1rem

@media screen and (min-width: $screen-lg)
  .index-container 
    min-height: calc(100vh - 170px)
    .imgs
      height: 425px
      div
        margin: 35px
        width: 200px
        height: 250px

@media screen and (min-width: $screen-xl)
  .index-container 
    .imgs
      height: 500px
      div
        margin: 40px
        width: 250px
        height: 300px
    .headings
      font-size: 1.25rem